APP_NAME=purple-dog

POSTGRES_USER=purple
POSTGRES_PASSWORD=purple
POSTGRES_DB=purpledog
POSTGRES_PORT=5432
POSTGRES_HOST=db

BACKEND_PORT=3000
DATABASE_URL=postgresql://purple:purple@db:5432/purpledog?schema=public

FRONTEND_PORT=5173
VITE_API_URL=http://localhost:3000
